@model FilesViewModel

<form method="post"
      asp-action="UploadFile"
      asp-controller="UploadFiles"
      enctype="multipart/form-data">
   @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

    <input asp-for="File1" />
   @* <span asp-validation-for="Photo" class="text-danger"></span>*@
    <input type="submit" value="Upload" />
</form>